venv/
.idea/
__pycache__/
files*/
jupyter/

# NOTE: No inline comments in .gitignore

logs/

# Ignore all files under config folder
config/*

# Except the following files
!config/__init__.py
!config/config_template.py
